
@inject ICustomerService customerService
@inject IOrderService orderService
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => AddNewAsset()" >New +</button>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assetDTO in assets)
        {
            <tr>
                <td><label id="@assetDTO.Id" >@assetDTO.Name</label></td>
                <td><label id="@assetDTO.Id" >@assetDTO.Price</label></td>
                <td><button type="button" class="btn btn-outline-secondary" @onclick="() => EditAsset(false, assetDTO.CustomerAssetID)" >Edit</button></td>
                <td><button type="button" class="btn btn-danger" @onclick="() => EditAsset(true, assetDTO.CustomerAssetID)" >Delete</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private List<AssetDTO> assets { get; set; } = new List<AssetDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var customerAssets = await customerService.GetCustomerAssetsAsync(CustomerDTO.Id);

            await foreach(var asset in customerAssets)
            {
                assets.Add(asset);
            }

            CustomerDTO.Assets = assets;
        }
        catch (Exception ex)
        {
            modal.ShowErrorMessage(ex.Message);
        }
    }

    private async void AddNewAsset()
    {
        var orderID = Guid.NewGuid();
        orderService.CreateOrderAsync(orderID, CustomerDTO.Id);
        await localStorageService.SetItemAsync<CustomerDTO>(orderID.ToString(), CustomerDTO);
        navigationManager.NavigateTo($"/Order?customerID={CustomerDTO.Id}&orderID={orderID}");
    }

    private async void EditAsset(bool isDelete, long customerAssetID)
    {
        var orderID = Guid.NewGuid();
        orderService.CreateOrderAsync(orderID, CustomerDTO.Id, customerAssetID);
        var action = isDelete
            ? $"{(int)CrudAction.Delete}:{customerAssetID}"
            : $"{(int)CrudAction.Update}:{customerAssetID}";
        await localStorageService.SetItemAsync<CustomerDTO>(orderID.ToString(), CustomerDTO);
        navigationManager.NavigateTo($"/Order?customerID={CustomerDTO.Id}&orderID={orderID}&action={action}");        
    }
}
