@page "/customers"

@using UI.Services
@using Models.DTO
@inject NavigationManager navigationManager
@inject ICustomerService _customerService

<h3>Customers</h3>

<p>This component demonstrates fetching customers data.</p>

<button id="btnAddCustomer" class="btn btn-primary" @onclick="Redirect">Add</button>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address?.FullAddress</td>
                    <td>@customer.Birthday.ToLocalTime()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerDTO> customers = new List<CustomerDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var asyncCustomers = await _customerService.GetCustomersAsync();

            await foreach(var customer in asyncCustomers)
            {
                customers.Add(customer);
            }
        }
        catch (Exception ex)
        {
            // show error modal
        }
    }

    protected void Redirect()
    {
        navigationManager.NavigateTo("/NewCustomerForm");
    }
}
