@page "/index"

@inject ICrmModalService modalService
@inject INewsService newsService


<h1>Welcome to CRM app!</h1>

<div class="d-flex align-items-center mw-75 mh-75 gap-3">
    <div class="w-50 h-100">
        <NewsFeed Title="What's new?" NewsData="@globalNews" />
        <hr style="margin-left: -1%; width: 45vw"/>
        <NewsFeed Title="Company information" NewsData="@companyNews" />
    </div>
    <div class="d-flex justify-content-center align-items-center w-100" style="height: 50vh;">
        <div class="w-75">
            <DataPieChart Labels="@pieChartLabels" ChartData="@pieChartData" />
        </div>
    </div>
</div>

@code {
    private List<string> pieChartLabels = new List<string>
    {
        "5G Deployments", "Broadband Expansion", "IoT Growth", "Cloud Adoption", "Network Security"
    };

    private List<int> pieChartData = new List<int>
    {
        30, 25, 15, 20, 10
    };

    private List<NewsDTO> globalNews;
    private List<NewsDTO> companyNews;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        var newsFilter = new List<RetrieveNewsRQ>
        {
            new RetrieveNewsRQ { NewsType = NewsType.CompanyInfo, Amount = 10 },
            new RetrieveNewsRQ { NewsType = NewsType.GeneralInfo, Amount = 10 },
        };

        var news = await newsService.GetNewsAsync(newsFilter);

        companyNews = news
            .Where(x => x.NewsType == NewsType.CompanyInfo)
            .ToList();

        globalNews = news
            .Where(x => x.NewsType == NewsType.GeneralInfo)
            .ToList();
    }
    
}
