
<fieldset diabled="@IsEditable" >
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td><input type="date" @bind-value="InteractionDTO.DateTime" /></td>
                <td>
                    <select class="form-select w-30" @bind="InteractionDTO.Type">
                        @foreach (var type in Enum.GetValues(typeof(InteractionType))){
                            <option value="@type">@type</option>
                        }
                    </select> 
                </td>
                <td><textarea @bind="InteractionDTO.Description" ></textarea></td>
            </tr>
        </tbody>
    </table> 
</fieldset>

@code {
    [Parameter]
    public InteractionDTO InteractionDTO { get; set; }

    private bool IsEditable => InteractionDTO.IsNullOrEmpty();

}
