<HeadContent>       
    <link rel="stylesheet" href="/css/loginStyle.css">
</HeadContent>

<div class="loader-container" hidden="@Hide">
    <div class="loader" ></div>
</div>

@code {
    [Parameter]
    public bool Hide { get; set; }
}
