
<nav class="navbar navbar-dark bg-primary" >
  <div class="container-fluid">
      <div class="nav-item px-3">          
        <a class="navbar-brand" >Interactions</a>
      </div>   
      <div class="nav-item px-3" >          
        <a class="navbar-brand" @onclick="() => DisplayComponentHandler(nameof(CustomerAssets))" >Assets</a>
      </div>           
      <div class="nav-item px-3">          
        <a class="navbar-brand" @onclick="() => DisplayComponentHandler(nameof(CustomerOrders))" >Orders</a>
      </div>
  </div>
</nav>

@code {
    [Parameter]
    public EventCallback<string> DisplayComponent { get; set; }

    protected async Task DisplayComponentHandler(string selectedComponentName)
    {
        await DisplayComponent.InvokeAsync(selectedComponentName);
    }
}