@page "/Customers/Admin/{customerId:long}"

@inject ICustomerService customerService
@inject ICrmModalService modal
@inject NavigationManager navigationManager

@if (customerDTO.IsNullOrEmpty())
{
    <p><em>Loading...</em></p>
}
else
{
    <CascadingValue Value="@customerDTO">
        <Customer IsAdmin="true"></Customer>        
        <button class="btn btn-primary" @onclick="() => NavigateToCustomerBase()">Return</button>
    <br />
    <CustomerAdminNav DisplayComponent="ShowComponent"></CustomerAdminNav>
    @switch (@componentName)
    {
        case nameof(CustomerAddresses) :
            <CustomerAddresses Addresses="@customerDTO.Addresses"></CustomerAddresses>
            break;
        case nameof(CustomerProfiles) :
            <CustomerProfiles BillingProfiles="@customerDTO.BillingProfiles"></CustomerProfiles>
            break;
        default:
            <h3>No component selected</h3>
            break;
    }
    </CascadingValue>
}

@code {
    private CustomerDTO customerDTO = new CustomerDTO();

    [Parameter]
    public long CustomerId { get; set; }

    private string componentName = nameof(CustomerAddresses);

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            customerDTO = await customerService.GetCustomerDataAsync(CustomerId);
        }
        catch (Exception ex)
        {
            // add logging
            modal.ShowErrorMessage(ex.Message);
        }
    }

    protected void ShowComponent(string selectedComponentName)
    {
        componentName = selectedComponentName;
    }

    protected void NavigateToCustomerBase()
    {        
        var partialUrl = string.Format("/Customers/{0}", CustomerId);
        navigationManager.NavigateTo(partialUrl);
    }
}
