<h3>CustomerProfiles</h3>

<table>
    <thead>
        <tr>
            <th>ProfileID</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Test Address</td>
        </tr>
    </tbody>
</table>

@code {

}
