
@inject IAddressService addressesService
@inject ICrmModalService modal

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => CreateNewAddress()" >New +</button>
        <tr>
            <th>Primary</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addressDTO in Addresses)
        {
            <tr>
                <td><input type="radio" id="legalAddress" checked="@addressDTO.IsLegal" name="legalRadio" @onchange="() => ChangeLegal(addressDTO.Id)"/></td>
                <td><label id="address" for="legalAddress">@addressDTO.FullAddress</label></td>
                <td><button class="btn btn-danger" @onclick="() => DeleteAddress(addressDTO.Id)">Delete</button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => UpdateAddresses()" >Save Changes</button>
    </tfoot>
</table>

@code {
    [Parameter]
    public List<AddressDTO> Addresses { get; set; }

    private AddressDTO addressDTO;

    private void ChangeLegal(long id)
    {
        Addresses.ForEach(x => x.IsLegal = false);
        Addresses.First(x => x.Id == id).IsLegal = true;
    }

    private async Task UpdateAddresses()
    {
        await addressesService.UpdateAddressesAsync(Addresses);
    }

    private async Task CreateNewAddress()
    {
        var parameters = new ModalParameters()
            .Add("CustomerId", Addresses.First().CustomerId);

        var result = await modal.Show<NewAddressForm>(parameters);

        if (result.Confirmed)
        {
            var createdAddress = (AddressDTO)result.Data; 
            Addresses.Add(createdAddress);
        }
    }

    private async void DeleteAddress(long addressId)
    {

        var result = await modal.ShowDialog("Are you sure?", ModalDialogType.Delete);

        if (result.Cancelled)
        {
            return;
        }

        var isDeleted = await addressesService.DeleteAddressAsync(addressId) > 0 ? true : false;

        if (isDeleted)
        {
            var deletedAddress = Addresses.FirstOrDefault(x => x.Id == addressId);
            Addresses.Remove(deletedAddress);
            StateHasChanged();
        }
    }
}
