
@inject ICustomerService customerService
@inject IInteractionService interactionService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => AddNewInteraction()" >New +</button>
    </thead>
    <tbody>
        @foreach (var customerInteraction in customerInteractionss)
        {
            <tr>
                <Interaction InteractionDTO="customerInteraction.Value" IsEditable="customerInteraction.Key.IsEditable" SaveInteraction="SaveInteraction"></Interaction>
                <td>
                    <button hidden="@customerInteraction.Key.IsEditable" type="button" class="btn btn-outline-secondary" @onclick="() => EditInteraction(customerInteraction.Key.Id)" ><em class="oi oi-pencil"></em> Edit</button>
                    <button hidden="@(!customerInteraction.Key.IsEditable)" type="button" class="btn btn-outline-primary" @onclick="() => SaveInteraction(customerInteraction.Value)" >Save</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private SortedDictionary<EditableID, InteractionDTO> customerInteractionss = new SortedDictionary<EditableID, InteractionDTO>(new InteractionKeySorter());

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var customerInteractions = await customerService.GetCustomerInteractionsAsync(CustomerDTO.Id);

            await foreach(var interaction in customerInteractions)
            {
                var editableID = new EditableID
                {
                    Id = interaction.Id,
                    DateCreated = interaction.DateTime
                };
                customerInteractionss.Add(editableID, interaction);
            }
        }
        catch (Exception ex)
        {
            modal.ShowErrorMessage(ex.Message);
        }
    }

    private void AddNewInteraction()
    {
        if (customerInteractionss.Values.All(x => x.Id > 0))
        {
            var editableID = new EditableID
            {
                DateCreated = DateTime.Now,
                IsEditable = true
            };
            customerInteractionss.Add(editableID, new InteractionDTO { CustomerID = CustomerDTO.Id, DateTime = DateTime.Now });          
        }
    }

    private async Task SaveInteraction(InteractionDTO interactionDTO)
    {
        if (interactionDTO.Type == 0
            || interactionDTO.DateTime == DateTime.MinValue)
        {
            modal.ShowErrorMessage("Not all mandatory fields populated!");

            return;
        }

        if (interactionDTO.Id == 0
            && interactionDTO.Type != 0)
        {
            interactionDTO.Id = await interactionService.SaveNewInteractionAsync(interactionDTO);

            var savedInteractionKey = customerInteractionss.Keys.First(x => x.Id == 0);
            customerInteractionss[savedInteractionKey] = interactionDTO;
            savedInteractionKey.IsEditable = false;
            savedInteractionKey.DateCreated = interactionDTO.DateTime;
            savedInteractionKey.Id = interactionDTO.Id;

            return;
        }

        var editedInteraction = customerInteractionss.First(x => x.Key.Id == interactionDTO.Id).Value;

        if (!interactionDTO.Equals(editedInteraction))
        {
            await interactionService.UpdateInteractionAsync(interactionDTO);
        }

        customerInteractionss.Keys.First(x => x.Id == interactionDTO.Id).IsEditable = false;
    }

    private void EditInteraction(long interactionID)
    {
        var interactionForEdit = customerInteractionss.Keys.First(x => x.Id == interactionID);
        interactionForEdit.IsEditable = true;

        StateHasChanged();
    }
}
