@page "/Customers/{customerId:long}"

@inject ICustomerService customerService
@inject ICrmModalService modal
@inject NavigationManager navigationManager

@if (customerDTO.IsNullOrEmpty())
{
    <Loader></Loader>
}
else
{    
    <CascadingValue Value="@customerDTO">
        <Customer></Customer>
        <button class="btn btn-primary" @onclick="() => NavigateToCustomerAdministration()">Edit</button>
        <CustomerNav DisplayComponent="ShowComponent"></CustomerNav>
        @switch (componentName)
        {
            case nameof(CustomerInteractions) :
                <CustomerInteractions></CustomerInteractions>
                break;
            case nameof(CustomerAssets) :
                <CustomerAssets></CustomerAssets>
                break;
            case nameof(CustomerOrders) :
                <CustomerOrders></CustomerOrders>
                break;
            default:
                <h3>No component selected</h3>
                break;
        }
        </CascadingValue>
}

@code {
    private CustomerDTO customerDTO = new CustomerDTO();

    [Parameter]
    public long CustomerId { get; set; }

    private string componentName = nameof(CustomerInteractions);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            customerDTO.Id = CustomerId;

            customerDTO = await customerService.GetCustomerDataAsync(CustomerId);
        }
        catch (Exception ex)
        {
            modal.ShowCustomerFriendlyMessage();
        }
    }

    private async void NavigateToCustomerAdministration()
    {
        var partialUrl = string.Format("/Customers/Admin/{0}", CustomerId);
        navigationManager.NavigateTo(partialUrl);
    }    

    protected void ShowComponent(string selectedComponentName)
    {
        componentName = selectedComponentName;
    }
}
