@inject ICustomerService customerService
@inject ICrmModalService modal

<h1>@(CustomerDTO.FirstName + " " + CustomerDTO.LastName)</h1>
<br />

<EditForm Model="@CustomerDTO" OnSubmit="@SaveChanges">
    <fieldset disabled="@(!IsAdmin)">
        <InputText @bind-Value="CustomerDTO.FirstName"></InputText>
        <InputText @bind-Value="CustomerDTO.LastName"></InputText>
        <InputDate @bind-Value="CustomerDTO.Birthday"></InputDate>
        <button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
    </fieldset>
</EditForm>

@code {
    [Parameter]
    public bool IsAdmin { get; set; }

    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    protected async Task SaveChanges()
    {
        if (!await customerService.UpdateCustomer(CustomerDTO))
        {
            modal.ShowCustomerFriendlyMessage();
        }
    }
}
