@page "/Customers/Customers"

@inject NavigationManager navigationManager
@inject ICustomerService customerService
@inject ICrmModalService modal

<h3>Customers</h3>

<p>This component demonstrates fetching customers data.</p>

<button id="btnAddCustomer" class="btn btn-primary" @onclick="Redirect">Add</button>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr @ondblclick="() => RedirectToCustomer(customer.Id)">
                    <td>@customer.Name</td>
                    <td>@customer.Birthday.ToLocalTime()</td>
                    <td>@customer.Addresses.FirstOrDefault(x => x.IsLegal == true).FullAddress</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteCustomer(customer.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerDTO> customers = new List<CustomerDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var asyncCustomers = await customerService.GetCustomersAsync();

            await foreach(var customer in asyncCustomers)
            {
                customers.Add(customer);
            }
        }
        catch (Exception ex)
        {
            modal.ShowErrorMessage(ex.Message);
        }
    }

    protected async void DeleteCustomer(long id)
    {
        var result = await modal.ShowDialog("Are you sure?", ModalDialogType.Delete);

        if (result.Cancelled)
        {
            return;
        }

        await customerService.DeleteCustomer(id);
    }

    protected void RedirectToCustomer(long id)
    {
        navigationManager.NavigateTo("/Customers/" + id);
    }

    protected void Redirect()
    {
        navigationManager.NavigateTo("/NewCustomerForm");
    }
}
