
@inject IBillingProfileService billingProfileService
@inject ICrmModalService modalService

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => CreateNewBillingProfile()" >New +</button>
    </thead>
    <tbody>
        @foreach (var customerBillingProfile in customerBillingProfiles)
        {
            <tr>
                <BillingProfile 
                    BillingProfileDTO="customerBillingProfile.Value" 
                    PossibleAddreses="CustomerDTO.Addresses"
                    IsEditable="customerBillingProfile.Key.IsEditable">
                </BillingProfile>
                @if (customerBillingProfile.Value.BilingProfileStatus != ItemState.Inactive)
                {
                    <td style="padding-left: 10px">
                        <button 
                            hidden="@customerBillingProfile.Key.IsEditable" 
                            class="btn btn-outline-secondary" 
                            @onclick="() => EditBillingProfile(customerBillingProfile.Key.CustomId)"><em class="oi oi-pencil"></em> Edit
                        </button>
                        <button 
                            hidden="@(!customerBillingProfile.Key.IsEditable)"
                            class="btn btn-primary" 
                            @onclick="() => SaveBillingProfile(customerBillingProfile.Value)">Save
                        </button>
                    </td>
                    <td style="padding-left: 10px">
                        <button 
                            hidden="@(customerBillingProfile.Key.IsEditable)"
                            class="btn btn-danger" 
                            @onclick="() => DeactivateBillingProfile(customerBillingProfile.Key.CustomId)">Deactivate
                        </button>
                    </td>                    
                }
           </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    [Parameter]
    public List<BillingProfileDTO> BillingProfiles { get; set; }

    private Dictionary<EditableID, BillingProfileDTO> customerBillingProfiles = new Dictionary<EditableID, BillingProfileDTO>();


    protected override async Task OnInitializedAsync()
    {
        // so that BillingProfile wont explode if any profile doesnt have address object
        BillingProfiles.FindAll(x => x.BillingAddress is null).ForEach(x => x.BillingAddress = new AddressDTO());

        customerBillingProfiles = BillingProfiles
            .ToDictionary(
                x => new EditableID 
                { 
                    IsEditable = false,
                    CustomId = x.BillingProfileId
                },
                x => x);
    }

    private async void CreateNewBillingProfile()
    {
        var editableID = new EditableID
        {
            DateCreated = DateTime.Now,
            IsEditable = true
        };

        var newBillingProfile = await billingProfileService.CreateNewBillingProfileAsync(CustomerDTO.Id);
        editableID.CustomId = newBillingProfile.BillingProfileId;
        newBillingProfile.BillingAddress = new AddressDTO();
        customerBillingProfiles.Add(editableID, newBillingProfile);
        BillingProfiles.Add(newBillingProfile);

        StateHasChanged();
    }

    private async Task DeactivateBillingProfile(string billingProfileId)
    {
        await billingProfileService.DeactivateBillingProfileAsync(billingProfileId);

        var customerBillingProfile = customerBillingProfiles.First(x => x.Key.CustomId == billingProfileId);
        customerBillingProfile.Value.BilingProfileStatus = ItemState.Inactive;

        StateHasChanged();
    }

    public void EditBillingProfile(string billingProfileId)
    {
        var billingProfileForEdit = customerBillingProfiles.Keys.First(x => x.CustomId == billingProfileId);
        billingProfileForEdit.IsEditable = true;

        StateHasChanged();
    }

    public async Task SaveBillingProfile(BillingProfileDTO billingProfileDTO)
    {
        // vrlo glupo rješenje ali trenutno se ne mogu sjetiti nečega pametnijeg
        // problem je što u BillingProfile.razor mi na select element bindamo samo id a ne cijeli objekt
        if (billingProfileDTO.BillingAddress.Id > 0)
        {
            billingProfileDTO.BillingAddress = CustomerDTO.Addresses.First(x => x.Id == billingProfileDTO.BillingAddress.Id);            
        }

        await billingProfileService.UpdateBillingProfileAsync(billingProfileDTO);
                
        var interactionForEdit = customerBillingProfiles.Keys.First(x => x.CustomId == billingProfileDTO.BillingProfileId);
        interactionForEdit.IsEditable = false;

        StateHasChanged();
    }
}
