@page "/Customers/Customers"

@inject NavigationManager navigationManager
@inject ICustomerService customerService
@inject ICrmModalService modal

<h3>Customers</h3>


<button id="btnAddCustomer" class="btn btn-primary" @onclick="Redirect">Add</button>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr role="button" @ondblclick="() => RedirectToCustomer(customer.Id)">
                    <td>@customer.Name</td>
                    <td>@customer.Birthday.ToLocalTime().ToString("dd-MM-yyyy")</td>
                    <td>@GetLegalAddress(customer.Addresses)</td>
                    <td>
                        <button class="btn btn-outline-secondary" @onclick="() => RedirectToCustomer(customer.Id)"><em class="oi oi-pencil"></em> Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteCustomer(customer.Id)">Mask</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerDTO> customers = new List<CustomerDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var asyncCustomers = await customerService.GetCustomersAsync();

            await foreach(var customer in asyncCustomers)
            {
                customers.Add(customer);
            }
        }
        catch (Exception ex)
        {
            modal.ShowErrorMessage(ex.Message);
        }
    }

    protected async void DeleteCustomer(long id)
    {
        var result = await modal.ShowDialog("This will remove all customer data, do you want to proceed?", ModalDialogType.Delete);

        if (result.Cancelled)
        {
            return;
        }

        await customerService.DeleteCustomer(id);
    }

    protected void RedirectToCustomer(long id)
    {
        navigationManager.NavigateTo("/Customers/" + id);
    }

    protected void Redirect()
    {
        navigationManager.NavigateTo("/NewCustomerForm");
    }

    private string GetLegalAddress(IEnumerable<AddressDTO> addresses)
    {
        var legalAddress = addresses.FirstOrDefault(x => x.IsLegal == true);

        return legalAddress?.FullAddress ?? string.Empty;
    }
}
