@inject ICustomerService customerService
@inject ICrmModalService modal

<h1>@CustomerDTO.Name</h1> <button @onclick="() => ChangeState()">Edit</button>
<br />

<EditForm Model="@CustomerDTO" OnSubmit="@SaveChanges">
    <fieldset disabled="@isDisabled">
        <InputText @bind-Value="CustomerDTO.Name"></InputText>
        <InputDate @bind-Value="CustomerDTO.Birthday"></InputDate>
        <button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
    </fieldset>
</EditForm>

@code {
    private bool isDisabled = true;

    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    protected async Task SaveChanges()
    {
        await customerService.UpdateCustomer(CustomerDTO);
    }

    private void ChangeState()
    {
        isDisabled = !isDisabled;
    }
}
