@page "/NewCustomerForm"

@inject ICustomerService _customerService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<PageTitle>New Customer Form</PageTitle>

<h2>Create New Customer</h2>
<select class="form-select" @bind="customerDTO.Type">
    @foreach (var customerType in Enum.GetValues(typeof(CustomerType)))
    {
        <option value="@customerType">@customerType</option>                  
    }
</select> 

@switch (customerDTO.Type)
{
    case (CustomerType.Residential):        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">New Residential Customer</h5>
                        </div>
                        <div class="card-body">
                            <EditForm Model="@customerDTO" OnSubmit="@CreateNewResidentialCustomer">
                                <div class="mb-3">
                                    <label class="form-label">First Name</label>
                                    <InputText class="form-control" @bind-Value="customerDTO.FirstName" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Last Name</label>
                                    <InputText class="form-control" @bind-Value="customerDTO.LastName" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Personal ID</label>
                                    <InputText class="form-control" @bind-Value="customerDTO.PersonalID" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Birthday</label>
                                    <InputDate class="form-control" @bind-Value="customerDTO.Birthday" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Full Address</label>
                                    <InputText class="form-control" @bind-Value="addressDTO.FullAddress" />
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        break;
    case (CustomerType.Business):
    case (CustomerType.Enterprise):
        <div class="container d-flex align-items-center justify-content-center">
            <span class="text-danger">Business types currently not supported</span>
        </div>
        break;
    default:    
        <div class="container d-flex align-items-center justify-content-center">
            <span class="text-danger">Please choose the customer type</span>
        </div>
        break;
}

@code {
    private CustomerDTO customerDTO = new CustomerDTO();

    private AddressDTO addressDTO = new AddressDTO();

    protected override void OnInitialized()
    {
        customerDTO.Birthday = DateTime.Now;
    }

    private async Task CreateNewResidentialCustomer()
    {
        customerDTO.Addresses.Add(addressDTO);
        var result = await _customerService.CreateNewCustomerAsync(customerDTO);

        if (result == 0)
        {
            modal.ShowErrorMessage("Customer Not Created!");
            return;
        }

        var redirectPath = string.Format("/Customers/{0}", result);
        navigationManager.NavigateTo(redirectPath);
    }
}
