@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-left {
    height: auto;
    width: 65%;
    float: left;
    display: flex;
    color: white;
    font: bold;
    background-color: #279EFF;
    background-image: linear-gradient(45deg,#279EFF,#40F8FF);
    justify-content: center;
    align-items: center;
}


.login-left h1 {
    font-size: 4.5em;
}

.login-right {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    float: left;
    display: flex;
    height: auto;
    width: 35%;
    padding: 8% 0 0;
    justify-content: center;
    align-items: center;
}

.login-right .form .login {
    margin-top: -31px;
    margin-bottom: 26px;
}

.form {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

    .form input:active, input:focus {
        border: solid 1px black;
        border-radius: 10px;
    }

    .form .submitButton {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color: #279EFF;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
    }

        .form .submitButton:hover {
            cursor: pointer;
            background-color: #33D6E6;
            color: black;
        }

    .form .validation-message {
        text-align: left; 
        margin: 0.25em 0 0 0;
        padding: 0;
    }


