@inherits LayoutComponentBase

<PageTitle>CRM_UI</PageTitle>

<HeadContent>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</HeadContent>

<div class="page">
    @Body
</div>

@inject NavigationManager NavigationManager
@inject IConfiguration configuration

@code {
    [CascadingParameter] 
    protected Task<AuthenticationState> authenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await authenticationState).User;
        if(user.Identity.IsAuthenticated)
        {
            var baseUrl = configuration.GetSection("profiles:CRM_UI:applicationUrl").Value
                    .Split(";")
                    .First();
            NavigationManager.NavigateTo(baseUrl + "/index");
        }

        base.OnInitialized();
    }
}
