
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IAsyncDisposable
@inject AppConfig AppConfig

<style>
    .app-exception-fallback {
    padding: 4rem;
    text-align: center;
    }
</style>

<div class="app-exception-fallback"><!--When icon for app is decided add here icon or some picture-->
    <h1 class="text-danger">Something went wrong</h1>

    @if (AppConfig.IsDevelopment())
    {
        <pre>@Exception?.ToString()</pre>
    }
    else
    {
        <p>We're sorry, please contact support and reload application.</p>
    }

    <button class="btn btn-primary mt-3" @onclick="ReloadApp">Reload</button>

</div>


@code {
    [Parameter] public Exception Exception { get; set; }
    private IJSObjectReference? _module;
    private bool _logged;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>(
              "import", "./js/modules.js");
        }

        try
        {
            if (!_logged && Exception is not null && _module is not null)
            {
                _logged = true;
                var path = new Uri(NavigationManager.Uri).PathAndQuery; 
                await _module.InvokeVoidAsync(
                    "logExceptionToServer",
                    AppConfig.SecureBackendUrl, 
                    Exception.Message, 
                    Exception.StackTrace, 
                    path, 
                    "Fatal");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_module is not null) await _module.DisposeAsync();
    }

    private async Task ReloadApp()
    {
        await JS.InvokeVoidAsync("localStorage.clear");
        await JS.InvokeVoidAsync("sessionStorage.clear");
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}