@page "/Login"

@model CRM_UI.Pages.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CSS Login Screen Tutorial </title>
</head>
<body>
    <div class="login-left">
        <h1>CRM</h1>
    </div>
    <div class="login-right">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Login</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" method="post" action="Login">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button type="submit" name="submit" class="button">LOGIN</button>
        </form>
      </div>
      @Model.CustomName
    </div>
</body>
</html>