@layout LoginLayout
@page "/Login"
@using CRM_UI.Authentication
@using CRM_UI.Services
@using Models.DTO

@inject AuthenticationStateProvider authenticationStateProvider
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager

<PageTitle>LoginComponent</PageTitle>

<HeadContent>    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="/css/loginStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</HeadContent>

<div class="login-left">
    <h1>CRM</h1>
</div>
<div class="login-right">
    <div class="form">
        <div class="login">
            <div class="login-header">
            <h3>Login</h3>
            <p>Please enter your credentials to login.</p>
            </div>
        </div>
        <EditForm class="login-form" Model="@userDTO" OnSubmit="@SubmitLogin">
            <input type="text" placeholder="username" name="username" @bind-value="userDTO.UserEmail" />
            <input type="password" placeholder="password" name="password" @bind-value="userDTO.Password" />
            <button type="submit" name="submit" class="button">LOGIN</button>
        </EditForm>
    </div>
</div>

@code {
    private UserDTO userDTO = new UserDTO();
    private async Task SubmitLogin()
    {
        var crmAuthenticationStateProvider = (CrmAuthenticationStateProvider)authenticationStateProvider;
        var loginResult = authenticationService.Login(userDTO.UserEmail, userDTO.Password);
        if (loginResult.Result == null) // if there is no result that means that the server returned the token
        {
            crmAuthenticationStateProvider.UpdateAuthenticationState(new UserSession { UserName = userDTO.UserEmail});
        }
        navigationManager.NavigateTo("/index");
    }
}
